.LoyaltyProgram {
  min-height: 100dvh;
  width: 80vw;
  margin-left: 10%;
  position: relative;
}
.loyalty_program_info,
.gift_certificates {
  background-color: rgba(20, 126, 197, 0.1);
  padding: 20px;
  margin: 20px auto;
  font-size: 17px;
  border-radius: 8px;
  text-align: justify;
}

h1 {
  font-size: 27px;
  margin: 10px auto;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  font-weight: 400;
}

p {
  margin-bottom: 10px;
}

ol {
  margin-bottom: 0;
}
