.StoresContent {
  margin-top: 10vh;
  position: relative;
  min-height: 100vh;
}
.cartTest {
  position: absolute;
  top: 25%;
  left: 40%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards div {
  margin: 10px;
}
