.city {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 0.86rem;
  font-weight: 600;
}
.city:hover {
  cursor: pointer;
}
.cityBtn {
  position: relative;
  top: 2px;
}

.cities {
  position: absolute;
  top: 5vh;
  left: 12vw;
  width: 300px;
  height: 220px;
  font-size: 0.8rem;
  border-radius: 11px;
  background-color: white;
  text-align: justify;
  padding: 10px;
  z-index: 15;
  box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.75);
}
.cities table {
  border-collapse: collapse;
  table-layout: fixed;
  height: 100%;
  text-align: left;
}
tr,
td,
th {
  border: none !important;
}
.cities th,
td {
  margin: 5px;
}
.cities td:hover {
  cursor: pointer;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
.changeCity {
  width: 135px;
}
