.logoAnimatedContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  margin: 0;
}
.logoAnimated {
  position: relative;
  width: 150px;
  height: 150px;
  font-size: 20px;
  z-index: 20;
  stroke: none;
  shape-rendering: geometricPrecision;
}

.message {
  margin-top: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.messageVisible {
  opacity: 1;
}
