.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.closeButton {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  float: right;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.label {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.speclabel {
  display: block;
}
.input {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

.submitButton {
  background-color: #008cba; /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  margin: 10px auto;
  margin-top: 30px;
}
.cardDetailsInputs {
  display: flex;
}
.cardDetailsInputs input {
  width: 70%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0px;
}
