.ForClients {
  min-height: 100dvh;
  width: 80vw;
  margin-left: 10%;
  position: relative;
}

.ForClients section {
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: rgba(20, 126, 197, 0.1);
}
.ForClients li {
  list-style: disc;
}
.ForClients h2 {
  font-size: 24px;
  color: #333;
  margin: 10px auto;
}

.ForClients p {
  font-size: 16px;
  color: #555;
}
h1 {
  font-size: 27px;
  margin: 30px auto;
}
