.HomeContent {
  min-height: 50vh;
  text-align: justify;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  position: relative;
}
.bigText {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin: 20px;
}

.items {
  max-width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}
.items div {
  margin: 10px;
}
.generalText {
  margin-bottom: 2vh;
  margin-bottom: 2vh;
}
.partnerBrands,
.partnerClients {
  background-color: rgba(20, 126, 197);
  border: 1px solid white;
  color: white;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1vh;
  text-align: center;
}
.largeText {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2vh;
  font-family: Rubik;
}
.partnerBrands svg,
.partnerClients svg {
  height: 100px;
  width: 100px;
}
.partnerBrands ul,
.partnerClients ul {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.partnerBrands li:hover {
  transform: scale(1.05);
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.75));
}
.ImageClient {
  max-height: 10vh;
  max-width: 10vw;
  padding: 2vh;
  position: relative;
  display: flex;
  margin: 0 auto;
  mix-blend-mode: multiply;
  filter: contrast(1);
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.partnerClients li {
  max-height: 120px;
  line-height: 100px;
  display: flex;
  align-self: center;
  fill: white;
  color: white;
}

.ImageBanner {
  position: absolute;
  top: 32vh;
  right: 21vw;
  max-width: 262px;
}
.SlimImageBanner {
  position: absolute;
  top: 13vh;
  right: 11vw;
  max-width: 262px;
  max-height: 365px;
}
.bottomBannersContainer {
  position: absolute;
  display: flex;
  max-width: 65vw;
  margin-left: 22.7vw;
  top: 55.9vh;
  background-color: white;
}
.bottomBannersContainer li {
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 0 auto;
  font-size: 17px;
  height: 4.3dvh;
  align-items: center;
  width: 210px;
  box-shadow: 0px 0px 5px 1px rgba(20, 126, 197, 0.58);
  border: 1px solid var(--main-bg-color);
}

.bottomBannersContainer svg {
  height: 30px;
  width: 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: rgb(20, 126, 197);
  fill: rgb(20, 126, 197);
}
.bottomBannersContainer li:hover {
  cursor: pointer;
  background-color: rgba(20, 126, 197, 0.11);
  transform: scale(1.03);
  color: black;
  fill: black;
}
.bottomBannersContainer li:hover svg {
  color: black;
  fill: black;
}
.homeHeaderContainer {
  min-height: 457px;
}
.itemModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  background-color: rgba(4, 23, 36, 0.075);
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
.innerItemModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  min-width: 95dvw;
  height: 95dvh;
  background-color: white;
  border-radius: 25px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  border: 1px solid black;
}
.innerItemModal img {
  max-width: 30vw;
  max-height: 30vh;
  position: relative;
  left: 0;
}
.innerItemModal table {
  font-size: 14px;
  position: relative;
  max-width: 40vw;
  margin: 0 auto;
  border-collapse: collapse;
  margin: 10px;
}
.innerItemModal th,
td {
  width: 20vw;
  border: 1px solid black;
  text-align: justify;
}
.innerItemModalContainer {
  display: flex;
  max-width: 50vw;
  margin: 5vh;
}
.innerItemModalFirstContainer {
  width: clamp(10vw, 15vw, 30vw);
  height: clamp(250px, 230px, 350px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
}
.innerItemModalSecondContainer {
  position: relative;
  width: 20vw;
  text-align: center;
  margin-left: 50px;
}
.buyButton {
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  position: relative;
  margin: 40px auto;
  min-height: 48px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 150ms;
  touch-action: manipulation;
  vertical-align: baseline;
}
.closeButton {
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 2vh auto;
  display: flex;
  min-height: 48px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 150ms;
  touch-action: manipulation;
  vertical-align: baseline;
}
.buyButton:hover,
.closeButton:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: rgb(20, 126, 197);
  color: rgb(255, 255, 255);
}

.buyButton:hover,
.closeButton:hover {
  transform: translateY(-1px);
  filter: drop-shadow(1px 1px 5px rgba(20, 126, 197, 1));
}

.buyButton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.75);
}
.price {
  position: relative;
  margin-top: 3vh;
}
.availability {
  margin-top: 3vh;
  color: green;
  font-size: 12px;
}
.innerItemModalCloseBtn {
  position: fixed;
  right: 3dvw;
  margin: 10px;
  font-size: 26px;
}
.innerItemModalCloseBtn:hover {
  transform: scale(1.2);
  fill: black;
}
.characteristicsModal {
  margin: 0;
}
.salePNG {
  position: absolute;
  display: flex;
}
.stars {
  position: relative;
  display: flex;
  margin: auto 30%;
}
