.header {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  min-height: clamp(12vh, 12vh, 12vh);
  top: 0;
  z-index: 5;
  left: 0;
  right: 0;
  position: relative;
}
.headerContainer {
  position: relative;
  display: block;
  width: 80vw;
  margin: 0 auto;
}
.lineContainer {
  max-width: 80vw;
  display: flex;
  justify-content: center;
}
.line {
  position: relative;
  display: flex;
  justify-self: center;
  width: 80vw;
  height: 1px;
  background-color: var(--main-text-color);
  align-self: center;
}

.Menu {
  display: flex;
  font-weight: normal;
}

.containerOne {
  max-height: 7.5vh;
  display: flex;
}
.topContainerTwo {
  display: flex;
  width: 80vw;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.149);
}

.catalog {
  display: flex;
  width: clamp(10vw, 10vw, 15vw);
  background-color: var(--main-bg-color);
  color: white;
  padding: 10px;
  margin: 5px;
  margin-left: 0;
  max-width: 10vw;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.catalogText {
  font-size: clamp(0.2em, 0.85em, 1em);
  font-weight: 800;
  margin-left: 10%;
}
.catalog:hover {
  cursor: pointer;
  background-color: rgba(20, 126, 197, 0.497);
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  padding: 10px;
  z-index: 16;
}
.logo:hover,
svg:hover {
  cursor: pointer;
}
.logoImage {
  margin-bottom: -13px;
  width: 50px;
  height: 50px;
}

.changeCity {
  display: flex;
  position: absolute;
  list-style: none;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vh;
  padding-left: 12vw;
  z-index: 15;
}
.enterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.enterContainer a {
  text-decoration: none;
}
.exitContainer,
.userContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  color: black;
}

.enterBtn {
  margin-right: 8px;
}

.exitContainer:hover,
.userContainer:hover {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.searchBar {
  position: relative;
  max-height: 35px;
  left: 2%;
  padding-right: 30px;
  width: 330px;
  margin: 5px;
}
.searchBar span:hover {
  cursor: pointer;
}
.orderCall,
.searchOrder,
.wishedProducts,
.comperedProducts {
  margin: 5px;
  min-width: 140px;
  max-width: 150px;
  margin-left: 20px;
  display: block;
  font-size: 11px;
  cursor: pointer;
  text-align: center;
}
.orderCall svg,
.searchOrder svg,
.wishedProducts svg,
.comperedProducts svg {
  font-size: 20px;
}
.orderCall:hover,
.searchOrder:hover,
.wishedProducts:hover,
.comperedProducts:hover,
.cart:hover {
  background-color: rgba(20, 126, 197, 0.05);
  text-shadow: 0.1px 0 0 black;
  transform: scale(1.03);
}
.cart svg {
  font-size: 40px;
  min-width: 140px;
  left: 0;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.6));
}
.PageContent {
  position: relative;
}

.topBannersContainer {
  position: relative;
  display: flex;
  width: 80vw;
  margin: 0 auto;
  top: 0.5vh;
}
.ContainerModal {
  display: grid;
  z-index: 9999;
}
.topBannersContainerModal {
  position: fixed;
  display: flex;
  width: 80vw;
  margin-left: 9.6vw;
  margin-top: 12vh;
  top: 0.5vh;
  z-index: 11;
}

.topBannerHeader {
  width: clamp(4vw, 11vw, 15vw);
  border: 1px solid var(--main-bg-color);
  background: white;
  z-index: 4;
  position: relative;
  padding-top: 0;
  box-shadow: 0px 0px 5px 1px rgba(20, 126, 197, 0);
}

.topBannerHeader li {
  font-size: 0.75em;
  line-height: 2dvh;
  height: 2.15dvh;
  list-style: none;
  padding: 10px;
  color: #344150;
  cursor: pointer;
  border-bottom: 0.5px solid var(--main-bg-color);
  display: flex;
}
.topBannerHeader hr {
  margin: 0;
}
.topBannerHeader svg {
  font-size: 17px;
  height: 17px;
  width: 25px;
  margin: 0;
  margin-right: 10px;
  display: flex;
  color: rgb(20, 126, 197);
  fill: rgb(20, 126, 197);
}
.topBannerHeader li:hover {
  font-weight: 600;
  cursor: pointer;
  transform: scale(1.03);
  background-color: rgba(20, 126, 197, 0.11);
}
.catalogModalWindow {
  position: relative;
  display: flex;
  width: 86%;
  left: 0;
  height: 452px;
  background-color: rgba(20, 126, 197, 1);
  z-index: 99999;
}
.catalogItemSP {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalogItemFP {
  width: 50%;
  height: 100%;
  display: flex;
}

.catalogImage {
  max-height: 80%;
  max-width: 80%;
}
.link {
  color: white;
  text-decoration: none;
}
.link p:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
.linkActive {
  color: black;
  font-weight: bold;
}
