li {
  list-style: none;
}

.footer_container {
  font-family: Roboto;
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  padding-top: 25px;
  margin-top: 25px;
  text-align: start;
  color: #4a4d4a;
}
.category_text {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
}
.logo_box {
  width: 17%;
  align-items: flex-start;
}
.logo_text {
  text-align: start;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: justify;
}
.logoImage {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.category {
  width: 20%;
}
.service {
  width: 18%;
}
.info {
  width: 16%;
}
.social {
  width: 5%;
}
.social_icon {
  width: 20px;
  height: 30px;
  cursor: pointer;
}
.contacts {
  width: 19%;
}
.contacts_list_item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #4a4d4a;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
a:hover {
  filter: drop-shadow(1px 1px 5px rgba(20, 126, 197, 1));
  cursor: pointer;
}

a {
  text-decoration: none;
}
/* Mobile devices */
@media (max-width: 480px) {
  .footer_container {
    position: relative;
    width: 100vw;
    padding-top: 5px;
    margin-top: 5px;
  }
  .category_text {
    font-size: 11px;
  }
  .logo_box {
    width: 15%;
    align-items: flex-start;
  }
  .logo_text {
    text-align: start;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
  }
  .logoImage {
    display: flex;
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }

  .category {
    width: 12%;
  }
  .service {
    width: 12%;
  }
  .info {
    width: 18%;
  }
  .social {
    position: absolute;
    left: 1vw;
    top: 22vh;
    width: 1vw;
  }
  .social_icon {
    width: 20px;
    height: 30px;
    cursor: pointer;
  }
  .contacts {
    position: absolute;
    right: 0;
    bottom: -14vh;
    display: block;
    width: 45vw;
    padding: 0;
    margin: 0;
  }
  .contacts li {
    padding: 0;
    margin: 0;
  }

  .contacts .category_text {
    display: none;
  }
  .contacts .contacts_list_item {
    width: 50vw;
    margin-bottom: 1vh;
  }
  .contacts_list_img img {
    position: relative;
    padding: 0;
    top: -3vh;
  }
  .contacts_list_item {
    display: block;
    align-items: center;
    margin-bottom: 15px;
    width: 20vw;
    color: #4a4d4a;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
