.WelcomePoUpContainer {
  position: fixed;
  width: 20vw;
  height: 10vh;
  top: 20px;
  left: 40%;
  display: flex;

  background-color: rgba(255, 255, 255, 0.956);
  border: 1px solid black;
  z-index: 99;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  text-align: center;
}
.WelcomePoUpInnerContainer {
  display: flex;
  flex-direction: column;
}
