.headerBtnContainer {
  min-width: 30vw;
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-grow: 1;
  color: black;
  position: relative;
  justify-content: center;
  align-items: center;
}

.dropDownBtn,
.Link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.headerBtn {
  margin-left: 5px;
}

.headerBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.modalHeader0 {
  position: relative;
  top: 5vh;
  width: max-content;
  z-index: 1;
  margin-left: 51%;
  border-radius: 11px;
  border: 1px solid var(--main-text-color);
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.75);
}
.modalHeader1 {
  position: relative;
  top: 5vh;
  width: max-content;
  z-index: 1;
  margin-left: 56%;
  border-radius: 11px;
  border: 1px solid var(--main-text-color);
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.75);
}
.modalHeader2 {
  position: relative;
  top: 5vh;
  width: max-content;
  z-index: 1;
  margin-left: 60%;
  border-radius: 11px;
  border: 1px solid var(--main-text-color);
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.75);
}
.modalBackground li {
  position: relative;
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  list-style: none;
  margin-left: -20px;
  min-width: 165px;
}

.modalBackground li:hover {
  cursor: pointer;
  text-shadow: 0.1px 0 0 var(--main-text-color);
}
.modalBackground {
  position: fixed;
  height: 100dvh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
}
.headerBtnContainer button {
  min-width: 100px;
}
