.headerBtnContainer {
  min-width: 30vw;
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-grow: 1;
  color: black;
  position: relative;
  justify-content: center;
  align-items: center;
}

.dropDownBtn,
.Link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.dropDownBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.headerBtn {
  margin-left: 5px;
}
a {
  color: #000;
}
.modalHeader0 {
  position: relative;
  top: 5vh;
  width: max-content;
  z-index: 1;
  margin-left: 46%;
  border-radius: 11px;
  border: 1px solid var(--main-text-color);
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.75);
}
.modalHeader1 {
  position: relative;
  top: 5vh;
  width: max-content;
  z-index: 1;
  margin-left: 51%;
  border-radius: 11px;
  border: 1px solid var(--main-text-color);
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.75);
}
.modalHeader2 {
  position: relative;
  top: 5vh;
  width: max-content;
  z-index: 1;
  margin-left: 56%;
  border-radius: 11px;
  border: 1px solid var(--main-text-color);
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.75);
}
.modalBackground li {
  position: relative;
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  list-style: none;
  margin-left: -20px;
  min-width: 165px;
}

.modalBackground li:hover {
  cursor: pointer;
  text-shadow: 0.6px 0px 0px rgba(0, 0, 0, 0.75);
}
.modalBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Mobile devices */
@media (max-width: 480px) {
  .headerBtnContainer {
    font-size: 12px;
    margin-left: 0;

    top: -1vh;
  }

  .dropDownBtn,
  .Link {
    font-size: 11px;
    max-width: 23vw;
    min-width: 12vw;
  }

  .headerBtnContainer svg {
    height: 1em;
    width: 1.8em;
    margin-left: -3px;
  }

  .modalHeader0 {
    top: 5vh;
    margin-left: 43%;
    z-index: 18;
  }
  .modalHeader1 {
    top: 4.8vh;
    margin-left: 57%;
    width: 100px;
    z-index: 18;
  }
  .modalHeader2 {
    top: 4.8vh;
    margin-left: 65%;
    padding: 0;
    width: 100px;
    z-index: 18;
  }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  /* Styles */
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles */
}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* Styles */
}

/* Extra large screens, TV */
@media (min-width: 1201px) {
  /* Styles */
}
