.mozok {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: grey;
}
.header {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  min-height: 12dvh;
  max-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.line {
  width: 80vw;
  height: 2px;
  background-color: black;
  margin-left: 10vw;
}

.Link {
  display: inline-flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-grow: 1;
}
.Link:hover {
  background-color: rgb(204, 204, 204);
  color: #fff;
}
.Menu {
  display: flex;
  font-weight: normal;
}
.pages {
  position: relative;
  left: 12%;
  width: 30vw;
  display: flex;
  font-size: 0.85rem;
}
.containerOne {
  padding-left: 10vw;
  display: flex;
}
.topContainerTwo {
  margin-left: 10vw;
  width: 80vw;
  min-height: 10px;
  background-color: rgb(255, 255, 255);
}

.catalog {
  display: flex;
  max-width: max-content;
  width: 15dvw;
  background-color: rgb(20, 126, 197);
  color: white;
  padding: 10px;
  padding-right: 15px;
  margin: 5px;
}
.catalogText {
  font-size: 1.5dvh;
  margin-left: 1dvw;
  font-weight: 800;
}
.catalog:hover,
.headerBtn:hover {
  cursor: pointer;
  background-color: rgba(20, 126, 197, 0.61);
}

.Link:visited {
  color: #0e1333;
}
.logo {
  font-size: 2rem;
  font-weight: 800;
  padding: 10px;
}
.logo:hover,
svg:hover {
  cursor: pointer;
}
.logoImage {
  margin-bottom: -13px;
  width: 50px;
  height: 50px;
}
.city {
  display: block;
  position: relative;
  top: 3vh;
  left: 2vw;
  font-size: 0.86rem;
  font-weight: 600;
}
.city:hover {
  cursor: pointer;
}
.cityBtn {
  position: relative;
  top: 2px;
}
.cities {
  position: absolute;
  top: 5vh;
  left: 25vw;
  width: 250px;
  height: 200px;
  font-size: 0.8rem;
  border-radius: 15px;
  border: 1px solid black;
  background-color: white;
  text-align: justify;
  padding: 10px;
}
.cities table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  text-align: left;
}

.cities th,
td {
  padding: 4px;
}
.cities td:hover {
  cursor: pointer;
}
