:root {
  --main-bg-color: rgb(20, 126, 197);
  --main-text-color: black;
  scrollbar-color: rgba(20, 126, 197) white;
  scrollbar-width: thin;
}

.noScroll {
  overflow: hidden;
}
.footer {
  max-width: 100dvw;
  background: rgba(20, 126, 197, 0.1);
}
@media (max-width: 480px) {
  .footer {
    max-width: 100vw;
    height: 50vh;
    background: rgba(20, 126, 197, 0.1);
  }
}
