.map_container {
  width: 80vw;
  height: auto;
  margin: 0;
  /* border: 3px solid #1f347b56; */
  padding: 5vh 0vh 3vh 15vh;
  cursor: default;
  z-index: 1;
}
.stores_map_container {
  width: 80vw;
  height: auto;
  margin: 40px 0;
  /* border: 3px solid #1f347b56; */
  padding: 5vh 0vh 3vh 15vh;
  cursor: default;
  z-index: 1;
}
.map_content_box {
  display: flex;
}
.mao_info_box {
  width: 40%;
  margin-top: 10vh;
}
.contacts_list_item {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  color: #4a4d4a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a:hover span {
  color: #6f6f6fd6;
  cursor: pointer;
}
.map_box {
  width: 30vw;
  height: 21vw;
  /* border: 1px solid tomato; */
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.stores_map_box {
  width: 30vw;
  height: 35dvh;
  /* border: 1px solid tomato; */
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
h1 {
  color: var(--unnamed, #4a4d4a);
  text-align: center;
  margin-left: -15vh;
  width: 80vw;
  /* H2 medium */
  font-family: Rubik;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.4%; /* 37.02px */
}
.stores_map_container h1 {
  color: var(--unnamed, #4a4d4a);
  text-align: center;
  margin-left: -15vh;
  margin-top: 20px;
  width: 80vw;
  /* H2 medium */
  font-family: Rubik;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.4%; /* 37.02px */
}
.stores_map_container h1:hover {
  color: var(--unnamed, #000000);
  text-shadow: rgba(20, 126, 197) 1px 1px 10px;
  cursor: pointer;
  font-weight: 600;
}
.stores_map_container svg {
  z-index: -1;
}
.stores_map_container h2 {
  color: var(--unnamed, #4a4d4a);
  text-align: center;
  margin-left: -15vh;
  margin-bottom: 30px;
  width: 80vw;
  /* H2 medium */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.4%; /* 37.02px */
}
.bordered-svg {
  stroke-width: 6px;
  stroke: #1f347b;
  opacity: 0.2;
  flex-shrink: 0;
}
.pr_svg {
  width: 80vw;
  height: 72vh;
  margin: 0;
}
